:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --logo-text-color: #000000;
  --primery-white-color: #ffffff;
  --primery-grey-color: #f5f4fa;
  --accent-hover-color: #188CE8;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--primery-white-color);
  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.menu-btn {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn:hover .button__open,
.menu-btn:focus .button__open {
  fill: var(--accent-color);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  padding: 48px 40px;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  transition: transform 400ms ease-in;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.mobile-menu-close-btn:hover .button__close,
.mobile-menu-close-btn:focus .button__close {
  fill: var(--accent-color);
}

.button__open, .button__close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav {
  margin-bottom: auto;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-menu-nav .mobile-menu-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-link {
  color: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
  color: var(--accent-color);
}

.mobile-menu-contacts {
  margin-bottom: 64px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-menu-contacts .mobile-menu-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-contacts .mobile-menu-item:first-child .mobile-menu-link {
  color: #2196f3;
}

@media screen and (min-width: 480px) {
  .mobile-menu-contacts .mobile-menu-item:first-child .mobile-menu-link {
    font-size: 34px;
  }
}

.mobile-menu-contacts .mobile-menu-link {
  color: currentColor;
}

.mobile-menu-socials {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-menu-socials .mobile-menu-link {
  color: currentColor;
}

.mobile-menu-socials .mobile-menu-social:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  text-decoration: none;
  color: var(--logo-text-color);
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
}

.logo__log {
  color: var(--accent-color);
}

.navigation {
  display: flex;
}

@media screen and (min-width: 768px) {
  .navigation {
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation {
    margin-left: 93px;
  }
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
}

.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}

.navigation__link:hover .current, .navigation__link:focus .current {
  color: var(--accent-color);
}

.current::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  bottom: 0;
  left: 0;
}

@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
}

.contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .contact {
    font-size: 12px;
    line-height: 1.17;
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-left: 72px;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-left: 305px;
  }
}

.contact__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .contact__item:not(:last-child) {
    margin-right: 30px;
  }
}

.contact__link {
  color: var(--primery-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
}

.contact__link:hover .contact__icon, .contact__link:focus .contact__icon {
  fill: var(--accent-color);
}

.contact__icon {
  margin-right: 8px;
  fill: var(--primery-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .contact {
    display: none;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--title-text-color);
  /*font-weight: 700;
  font-size: 36px;
  line-height: 1.17;*/
  text-align: center;
  font-size: 36px;
  line-height: 1.17;
  font-weight: 700;
}

@media screen and (min-width: 480px) {
  .section__title {
    font-size: 28px;
    line-height: 1.18;
    font-weight: 700;
  }
}

@media screen and (min-width: 768px) {
  .section__title {
    font-size: 28px;
    line-height: 1.18;
    font-weight: 700;
  }
}

@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    line-height: 1.17;
    font-weight: 700;
    margin-bottom: 50px;
  }
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2f303a;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/header-mob1x.jpg);
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/header-mob2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/header-tab1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/header-tab2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/header-desk1x.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/header-desk2x.jpg);
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: var(--primery-white-color);
  letter-spacing: 0.06em;
  font-size: 26px;
  line-height: 1.62;
  font-weight: 900;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    font-weight: 900;
  }
}

.feature__list {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
}

@media screen and (min-width: 768px) {
  .feature__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
  }
}

.feature__icon {
  list-style: none;
  width: 70px;
  height: 70px;
}

.feature__block {
  max-width: 450px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primery-grey-color);
}

@media screen and (min-width: 768px) {
  .feature__block {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .feature__block {
    width: 270px;
  }
}

.feature__item {
  max-width: 450px;
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .feature__item {
    width: 354px;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .feature__item {
    width: 270px;
  }
}

.feature__title {
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .feature__title {
    text-align: start;
  }
}

.feature__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
}

@media screen and (min-width: 1200px) {
  .work {
    padding-top: 0;
  }
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.work__item {
  position: relative;
  padding-top: 50;
  margin-right: 30px;
}

.work__title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 27px 0;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-white-color);
  background: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
}

.team {
  background-color: var(--primery-grey-color);
}

.team__list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
  }
}

.team__item {
  text-align: center;
  border: 1px solid #eeeeee;
  border-top: none;
  background-color: var(--primery-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    width: calc(100% / 2 - 30px);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    width: calc(100% / 4 - 30px);
  }
}

.team__title {
  margin-top: 30px;
  margin-bottom: 30px;
}

.team__name {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.19;
  font-weight: 500;
}

.team__position {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.19;
  font-weight: 400;
}

.media__item {
  width: 44px;
  height: 44px;
}

.media {
  margin-top: 16px;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.media li:not(:last-child) {
  margin-right: 10px;
}

.media__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primery-white-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media__link:hover, .media__link:focus {
  background-color: var(--accent-color);
}

.media__link:hover .media__icon, .media__link:focus .media__icon {
  fill: var(--primery-white-color);
}

.media__item {
  list-style: none;
}

.media__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  list-style: none;
}

.clients__item {
  width: calc(100% / 2 - 30px);
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc(100% / 6 - 30px);
  }
}

.clients__link {
  width: 100%;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
}

.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  background-color: var(--accent-color);
  color: var(--primery-white-color);
  min-width: 200px;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: none;
}

.button:hover, .button:focus {
  background-color: var(--accent-hover-color);
}

.project__button {
  margin-top: 0;
  margin-bottom: 40px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

@media screen and (min-width: 768px) {
  .project__button {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .project__button {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
  }
}

.button__secondary {
  border-radius: 4px;
  border: 0px;
  text-align: center;
  font-family: inherit;
  list-style: none;
  background-color: var(--primery-grey-color);
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.63;
  font-weight: 500;
  padding: 6px 22px;
  min-width: 73px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button__secondary:hover, .button__secondary:focus {
  color: var(--primery-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: none;
}

@media screen and (max-width: 768px) {
  .button__secondary {
    margin-bottom: 15px;
  }
}

.project {
  padding-top: 60px;
  padding-bottom: 94px;
}

@media screen and (min-width: 768px) {
  .project {
    padding: 60px 0;
  }
}

@media screen and (min-width: 1200px) {
  .project {
    padding: 94px 0;
  }
}

@media screen and (max-width: 1200px) {
  .project {
    flex-wrap: wrap;
    align-items: center;
  }
}

.project__item:not(:last-child) {
  margin-right: 8px;
}

.desckription {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
}

.desckription__group {
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  border-top: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.desckription__group:hover, .desckription__group:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.desckription__group:hover .desckription__box, .desckription__group:focus .desckription__box {
  transform: translateY(0);
}

@media screen and (min-width: 480px) {
  .desckription__group:hover, .desckription__group:focus {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .desckription__group:hover, .desckription__group:focus {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .desckription__group:hover, .desckription__group:focus {
    width: 370px;
  }
}

.desckription__fond {
  position: relative;
  overflow: hidden;
}

.desckription__image {
  display: block;
}

@media screen and (min-width: 480px) {
  .desckription__image {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .desckription__image {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .desckription__image {
    width: 370px;
  }
}

.desckription__box {
  position: absolute;
  top: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  background-color: #3f51b5;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
}

.desckription__text {
  font-size: 18px;
  line-height: 1.56;
  font-weight: 400;
  color: var(--primery-white-color);
}

.desckription__name {
  padding: 20px 24px;
}

.desckription__title {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
}

.desckription__item {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 400;
}

.footer {
  margin-left: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (max-width: 1199px) {
  .join {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .join {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .join {
    justify-content: space-around;
  }
}

@media screen and (max-width: 1199px) {
  .footer__item:not(:last-child) {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__item:not(:last-child) {
    margin-right: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__item:last-child {
    margin-left: auto;
  }
}

.footer .logo {
  color: var(--primery-white-color);
}

@media screen and (min-width: 480px) {
  .footer .logo {
    justify-content: center;
  }
}

.footer .address__list {
  list-style: none;
  margin-top: 20px;
  margin-bottom: 0;
  padding-left: 0;
}

.address__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  margin-bottom: 9px;
}

.address__location {
  color: var(--primery-white-color);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
}

.address__list li:not(:last-child) {
  margin-bottom: 9px;
}

.join__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primery-white-color);
}

.join__list {
  display: flex;
  padding-left: 0;
  justify-content: center;
}

.join__list li:not(:last-child) {
  margin-right: 10px;
}

.join__item {
  list-style: none;
  width: 44px;
  height: 44px;
}

.join__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ffffff10;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join__link:hover, .join__link:focus {
  background-color: var(--accent-color);
}

.join__icon {
  width: 20px;
  height: 20px;
  fill: var(--primery-white-color);
}

@media screen and (min-width: 1200px) {
  .footer__form {
    display: flex;
    align-items: center;
  }
}

.footer__input {
  padding: 15px 12px;
  height: 50px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  width: 100%;
  max-width: 450px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.footer__icon {
  margin-left: 10px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 10;
  opacity: 1;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--primery-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 500ms linear;
}

@media screen and (max-width: 1200px) {
  .modal {
    width: 450px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(45deg);
}

.modal__button {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  right: 8px;
  top: 8px;
}

.modal__icon {
  width: 11px;
  height: 11px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon:hover, .modal__icon:focus {
  fill: var(--accent-color);
}

.modal__title {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  font-size: 20px;
  line-height: 1.15;
  font-weight: 700;
  text-align: center;
  color: var(--title-text-color);
}

@media screen and (max-width: 1200px) {
  .modal__title {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 700;
    letter-spacing: 0.03em;
  }
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.record__label {
  position: relative;
}

.record__name {
  display: block;
  text-align: left;
  font-size: 12px;
  line-height: 1.17;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: var(--primery-text-color);
  margin-bottom: 4px;
}

.record__input {
  width: 448px;
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid #21212120;
  border-radius: 4px;
  padding: 0 15px 0 40px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1200px) {
  .record__input {
    width: 370px;
  }
}

.record__input:hover, .record__input:focus {
  border-color: var(--accent-color);
}

.record__input:hover + .record__icon,
.record__input:focus + .record__icon {
  fill: var(--accent-color);
}

.record__icon {
  position: absolute;
  top: 40%;
  left: 12px;
  fill: var(--logo-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-input {
  width: 448px;
  height: 120px;
  display: block;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #21212120;
  border-radius: 4px;
  resize: none;
  outline: none;
  background-color: var(--primery-white-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1200px) {
  .feedback-input {
    width: 370px;
  }
}

.feedback-input:hover, .feedback-input:focus {
  border-color: var(--accent-color);
}

.agree {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.agree-doc {
  color: var(--accent-color);
}

.check-input {
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
}

.check-box {
  display: block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 4px;
  background-position: center;
  margin-top: 4px;
}

@media screen and (max-width: 1200px) {
  .check-box {
    margin-top: 0;
  }
}

.check-input:checked + .check-box {
  border: none;
  background-color: var(--accent-color);
  background-image: url(../images/svg/check.svg);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-image: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-input:checked + .check-box:focus, .check-input:checked + .check-box:hover {
  border: 2px solid var(--accent-color);
  background-image: url(../images/svg/check.svg);
}

.check {
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  text-align: center;
  color: var(--primery-text-color);
}

@media screen and (max-width: 1200px) {
  .check {
    font-size: 12px;
    line-height: 1.17;
    font-weight: 400;
    letter-spacing: 0.03em;
    text-align: right;
    margin-right: 0;
  }
}

.agree-icon {
  color: var(--accent-color);
}

.contact-btn-submit {
  display: flex;
  justify-content: center;
}
/*# sourceMappingURL=main.css.map */