.team {
  background-color: var(--primery-grey-color);
  }
.team__list {
  list-style: none;
  
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // margin-top: -30px;
    // margin-left: -30px;
    margin: -15px;
    }

}
.team__item {

  text-align: center;
  border: 1px solid #eeeeee;
  border-top: none;
  background-color: var(--primery-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (max-width: 767px) {
     
    &:not(:last-child){
    margin-bottom: 30px; 
    }
     
  }
  @media screen and (min-width: 768px) {
    width: calc(100% / 2 - 30px);
    // margin-top: 30px;
    // margin-left: 30px;
    margin: 15px;
    
 }
  @media screen and (min-width: 1200px) {
     width: calc(100% / 4 - 30px);
  }
}
.team__title {
  margin-top: 30px;
  margin-bottom: 30px;
}
.team__name {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  @include font(16px, 1.19, 500);
}
.team__position {
  margin-top: 0;
  margin-bottom: 0;
  @include font(16px, 1.19, 400);
}
